h3{
    color: blue;
    text-align: center;
    font-size: 35px;
    text-decoration:underline;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th{background:yellow;}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
td:last-child{
    padding: 0px;
}
tr:nth-child(even) {
background-color: #dddddd;
}
button{
    width: 100%;
    background-color: green;
    height: auto;
    padding: 10px;
}
button:hover{
    background-color: greenyellow;
    cursor:pointer;
}